<div{{ attributes.add(stimulus_controller('display-date')) }}>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="displayAsFrench" data-model="displayAsFrench">
        <label class="form-check-label" for="displayAsFrench">Display as French</label>
    </div>

    <b>Value setted from controller :</b>
    <div id="dateValue"></div>
</div>
